@import "tailwindcss";

body {
  @apply bg-gradient-to-br from-yellow-100 via-pink-200 to-purple-200 text-gray-800 min-h-screen;

  font-family: "Barlow", sans-serif;

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-pink-400);
    border-radius: 20px;
    border: 0px solid transparent;
    background-clip: content-box;
  }
}
